backend/fulfillment-service/serverless.yml
org: mrsushi
app: mrsushi-app
service: fulfillment-service

plugins:
  - serverless-step-functions

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  environment:
    FULFILLMENT_TABLE: ${self:service}-${sls:stage}-FulfillmentTable
  role: arn:aws:iam::${aws:accountId}:role/LabRole

functions:
  completeTask:
    handler: handler.complete_task
    events:
      - http:
          path: tasks/complete
          method: post
          cors: true
  saveToken:
    handler: handler.save_token

stepFunctions:
  stateMachines:
    OrderWorkflow:
      name: OrderWorkflow-${sls:stage}
      role: arn:aws:iam::${aws:accountId}:role/LabRole
      events:
        - eventBridge:
            event:
              source:
                - mrsushi.orders
              detail-type:
                - OrderCreated
      definition:
        StartAt: CocinarPedido
        States:
          CocinarPedido:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName:
                Fn::GetAtt: [SaveTokenLambdaFunction, Arn]
              Payload:
                pedido_id.$: "$.detail.pedido_id"
                tenant_id.$: "$.detail.tenant_id"
                estado: "EN_COCINA"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.cookResult"
            Next: EmpacarPedido
          EmpacarPedido:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName:
                Fn::GetAtt: [SaveTokenLambdaFunction, Arn]
              Payload:
                pedido_id.$: "$.detail.pedido_id"
                tenant_id.$: "$.detail.tenant_id"
                estado: "EMPACANDO"
                taskToken.$: "$$.Task.Token"
            ResultPath: "$.packResult"
            Next: PedidoEntregado
          PedidoEntregado:
            Type: Pass
            Result: "Completado"
            End: true

resources:
  Resources:
    FulfillmentTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.FULFILLMENT_TABLE}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: pedido_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: pedido_id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
